@media screen and (max-width: 768px) {
  header {
    padding: 0;
    margin: 0;
  }
  /* ------------------------- starter ------------------------- */
  #starter {
    margin-bottom: 0;
  }
  #starter span {
    font-weight: 900;
    font-size: 28px;
  }
  #starter .contentBox {
    padding: 0;
    padding: 0 30px;
  }

  #starter .contentBox .content {
    max-width: 100%;
    padding-top: 40px;
  }

  #starter .contentBox .title {
    align-items: center;
    text-align: center;
    text-align-last: center;
    justify-content: center;
  }
  #starter p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-align-last: center;
  }
  .btn-group {
    display: block;
    margin-bottom: 35px;
  }
  .btn-register,
  .secondBtn {
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    min-width: 200px;
    padding: 6px 34px;
    margin-bottom: 8px;
    justify-content: center;
  }
  /* ------------------------- register ------------------------- */
  #register {
    margin-bottom: 100px;
  }
  #register .content {
    max-width: 100%;
    padding: 20px;
  }
  #register h2 {
    font-weight: 800;
    font-size: 18px;
  }
  .nav.nav-pills {
    width: auto;
    height: 40px;
  }

  .nav-pills .nav-link,
  .nav-pills .nav-link.active {
    font-weight: 400;
    font-size: 16px;
    height: 40px;
  }
  .form-group input {
    background: #ffffff;
    border: 0.726141px solid #5fa8d3;
    border-radius: 79.1494px;
    height: 40px;
  }
  .form-group input::placeholder {
    color: #919191;
    font-weight: 400;
    font-size: 14.5228px;
  }
  .btn-success {
    font-weight: 700;
    height: 40px;
    font-size: 14.5228px;
    margin: 18px auto;
  }
  .go-signIn,
  .go-signUp {
    font-weight: 500;
    font-size: 14px;
  }
  /* ------------------------- motion ------------------------- */

  #motion h2 {
    font-weight: 800;
    font-size: 22px;
    color: #000000;
    margin-bottom: 8px;
  }
  #motion img {
    max-width: 100%;
  }
  /* ------------------------- challenge ------------------------- */

  #challenge .content {
    max-width: 100%;
  }
  #challenge h2 {
    font-weight: 800;
    font-size: 22px;
    color: #000;
  }
  #challenge p {
    font-weight: 500;
    font-size: 18px;
    color: #464646;
  }
  /* ------------------------- footer ------------------------- */

  footer {
    padding: 16px;
  }
  footer img {
    max-width: 50%;
  }
}
